@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap');  /*font-family: 'Maven Pro', sans-serif; (400,500,600)*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Generals styles */
*{
    margin:0 !important;
    padding: 0 !important;
}

body{
    /* background-color: #161853; */
    color: white;
    font-family: 'Maven pro', sans-serif;
    font-weight: 400;
    font-size: .7rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

a:hover{
    color: #d54343 !important;
}
/* End Generals styles */



/* offcanvas styles */
.offcanvas{
    width: 260px;
    background-color: #151515;
    transition-duration: .5s !important;
}

.offcanvas-header-menu{
    border-bottom: 1px solid #ffffff85;
    padding-bottom: 1rem !important;
    background-color: #151515;
}

.close-canvass-btn{
    width: 40px;
    height: 40px;
    position: relative;
    left: 109px;
    background: transparent;
    border: none; 
}

.close-canvass-btn i{
    font-size: 1.3rem;
}

.offcanvas-body-menu,
.offcanvas-shopping{
    background-image: url("../assets/background-canvas-body.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.offcanvas-shopping{
    width: 230px;
}

.offcanvas-body > div,
.offcanvas-shopping > div{
    background-color: #1515159c;
    height: 100%;
}

.nav-item{
    font-weight: 600;
    letter-spacing: 2px;
}

ul .nav-item ~ .nav-item{
    margin-top: 1.5rem !important;
}

.product-image {
    width: 65px;
    height: 65px;
}

.close-btn-shoppingCar{
    position: relative;
    left: 82px;
}

.accountant-product{
    width: 25px;
}

.substract-addition-btn{
    font-weight: 600;
    border: none;
    font-size: 1.7rem;
    justify-content: center;
    padding-bottom: 2px !important;
    background: #ccc;
}
/* end off canvas styles  */


/* Header's styles */
header{
    background-color: #151515;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.bag-store{
    font-size: 1.2rem;
    cursor: pointer;
}

.logo{
    width: 200px;
}

.headerBtns-container{
    width: 80%;
}

.access-btn{
    padding: 2px 3px !important;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all 300ms;
}

.access-btn:hover{
    font-size: 1.2rem;
    color: #4f53d4;
}

.navbar-btn{
    width: 20px;
    height: 20px;
    margin-right: .4rem !important;
    border:none;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bars{
    width: 100%;
    border: 1px solid white;
}

.bar2{
    width:80%;
}

.navbar-toggler:focus {
    box-shadow:none !important;
}
/* end header's stles */



/* Main's styes */
.welcome-text{
    font-size: .7rem !important;
    text-align: left;
    letter-spacing: 2px;
    padding-left: 10% !important;
}

.introducing-box{
    background-color: #070f3d;
}

.introducing-text{
    width: 162px;
    font-size: .45rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    bottom: 42px;
    right: -5%;
}

.img-comic-box{
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 18% 100%);
    background: #4f53d4;
    background-image: url('../assets/comics-sales.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-subtitle {
    letter-spacing: 1px;
    font-weight: 100;
}

.subtitle-underline{
    min-height: 1.4px;
    background-color: white;
    display: block;
    width: 147px;
    margin: 0 auto !important;
    margin-bottom: 1rem !important;
    
}

.about-comics-container{
    background: #4f53d4;
    background-image: url('../assets/about-comics-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-comics-container > div{
    background-color: #000000b5;
}

.box-items{
    text-align: justify;
}

.aboutComics-item{
    letter-spacing: 1px;
    font-size: .9rem;
    font-weight: 600;
}

.visit-merch-container{
    background: #070f3d;   
}

.store-btn{
    border: 1px solid;
    width: 100px;
    margin: 0 auto !important;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.login-bg-img{
    background-image: url(https://www.superherodb.com/gallery2/075/268/26825.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 30%;
    overflow: hidden;
}

.signup-bg-img{
    background-image: url(https://www.superherodb.com/gallery2/075/220/22026.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20%;
    overflow: hidden;
}

.form-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    color: #070f3d;
}

/*End Main's styes */




/* Footer's styles */
footer{
    background-color: #151515;
}

.footer-subtitle{
    font-size: 1rem;
    font-weight: 500;
}

.footer-references {
    font-size: .65rem;
    font-weight: 600;
}

.footer-items{
    font-size: .4rem;
}


/* End footer's Styles */



@media(min-width:768px){

    body{
        font-size: 1rem;
    }

    /* offcanvas styles */
    .offcanvas-shopping {
        width: 330px;
    }

    .close-btn-shoppingCar {
        left: 180px;
    }
    /* end offcanvas styles */

    /* header's styles */
    header{
        padding: 0 .5rem !important;
        padding-top: 1.5rem !important;
    }

    .logo{
        width: 215px;
    }
    /* end Header's styles */

    /* main's styles */

    .img-comic-box {
        height: 350px;
    }

    .welcome-text {
        font-size: 1.3rem !important;
        text-align: center;
        padding: 0 !important;
    }

    .introducing-text {
        width: auto;
        font-size: .85rem;
        margin: 0 auto !important;
        right: 0;
        left: 11px;
        bottom: 26%;
        letter-spacing: 3px;
    }

    .items-aboutComic-container{
        width: 75% ;
        margin: 0 auto !important;
    }

    .aboutComics-item{
        font-size: 1.2rem;
    }
    /* end main's styles */

    /* footer's styles */
    .footer-subtitle{
        font-size: 1.3rem;
    }

    .footer-references{
        font-size: .65rem;
    }

    .footer-items{
        font-size: .7rem;
    }
    /* end footer's styles */
}


@media(min-width:992px){

    /* header's styles */
    .items-container{
        width: auto;
        margin: 0 auto !important;
        display: flex;
        justify-content: space-around;
    }
    
    ul .nav-item ~ .nav-item{
        margin-left: 1.2rem !important;
        margin-top: 0 !important;
    }

    .nav-item{
        font-size: .6rem;
        font-weight: 400;
        letter-spacing: 2px;
    }
    
    .accessBtn-container{
        width: 300px;
    }

    .access-btn {
        padding-bottom: 7px !important;
    }
    /* end header's styles */
    
    /* main styles */

    .text-aboutComics{
        font-size: 1.2rem;
    }


    /* end main styles */
    
    /* footer's styles */
    .footer-references {
        font-size: 1rem;
    }
    /* end footer's styles */
}

@media(min-width:1200px){
    /* Header's styles */
    .nav-item {
        font-size: 1rem;
    }
    /* end header's styles */

    /* main's styles */
    .welcome-text {
        font-size: 1.5rem !important;
        position: absolute;
        top: 5rem;
        padding-right: 7%!important;
    }

    .introducing-text {
        width: auto;
        font-size: .85rem;
        margin: 0 auto !important;
        right: 0;
        left: 0;
        bottom: 40%;
        letter-spacing: 3px;
    }

    .img-comic-box {
        height: 450px;
    }
    /* end main's styles */
}

